body {
	background-color: #aaaaaa;
}

.header {
	position: fixed;
	z-index: 1;
	top: 0;
	text-align: center;
	background-color: black;
	height: auto;
	width: 100%;
	margin: 0;
	padding: 1% 0 1.5% 0;
	clear: both;
}

.header img, .header h3 {
	float: left;
	font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
	text-decoration: underline;
	color: white;
	margin: 1% 2% 1% 2%;
	text-shadow: 5px 5px 5px gray;
	font-size: 42px;
	}

.nav {
	margin: 0;
	padding: 0;
}

.nav-item {
	text-align: center;
	width: 100%;
	height: auto;
	padding: 0%;
	margin: 0%;
}

.nav-item .btn {
	width: 100%;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
}

a:link {
	color: DodgerBlue;
}

.nav a:hover, .nav a:visited, .nav-item a:hover, .nav-item a:visited, .header img:hover, .header h3:hover {
	color: maroon;
}

.content {
	background-image: url("images/carbonfiber.png");
	width: 100%;
	height: auto;
	color: DodgerBlue;
	text-align: center;
	/*margin: .5% 0% .5% 0%;*/
	margin: 0;
	padding: 2%;
	border-top: 4px solid #aaaaaa;
	border-bottom: 4px solid #aaaaaa;
}

.aboutme {
	padding-top: 6%;
}

#carousel {
	width: 100%;
	height: auto;
	overflow:hidden;
}

#carousel ul {
	width: 4440px;
	padding: 0;
	margin: 0;
}

#carousel ul li {
	width: 555px;
	height: auto;
	max-height: 500px;
	text-align: center;
	vertical-align: middle;
	list-style: none;
	float: left;
}

#carousel-img img {
	margin-left: 0;
	width: auto;
	height: auto;
	max-height: 450px;
}

.experience-background {
	position: relative;
	width: 100%;
	height: 100%;
	background: url("images/DBC.jpg");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	opacity: 0.5;
	/*z-index: 1;*/
}

.experience {
	position: relative;
	opacity: 1;
	z-index: -1;
	width: 100%;
	height: 500px;
	max-height: 500px;
}

.footer {
	background-color: black;
	color: DodgerBlue;
	height: auto;
	width: 100%;
	margin: 0;
}