body {
	background-color: #2E2E2E;
	/*background-image:url(http://wallpaperpanda.com/wallpapers/5ij/egj/5ijegjMi8.jpg);*/
}

#header {
	background-color: black;
	height: 10%;
	width: 75%;
	margin: 2% 10% auto 10%;
	clear: both;
	border-radius: 20px;
	display: inline-block;
}

#header h1 {
/*	text-align: left;*/
	font-family: 'Lobster';
	text-decoration: underline;
	color: white;
	margin-left: 15%;
	margin-top: 2%;
/*	width: 20%;*/
	float: left;
	text-shadow: 5px 5px 5px gray;
	font-size: 42px;
	}

#header nav {
/*	background-color: red;*/
	display: inline-block;
	float: right;
	text-decoration: none;
	margin: 3% 5% 2% 0%;
	width: 25%;
}

#header nav ul {
	/*background-color: purple;*/
	margin: 0 0 0 0;
}

#header nav ul li {
	text-decoration: none;
	background-color: white;
	display: inline-block;
	margin: 0 5% 0 5%;
	border-radius: 10px;
	padding: 10px;
	color: black;
	font-weight: bold;
}

#header nav ul li a {
	color: black;
	text-decoration: none;
}

#header nav ul li a:hover{
	color: red;
}

ul li a:hover{
	color: red;
}

section {
	background-color: black;
	color: white;
	width: 75%;
	margin: auto 10% auto 10%;
	text-align: center;
	font-size: 30px;
	border-radius: 10px;
}

section ul li {
	display: inline-block;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	border-style: ridge;
	border-color: white;
	border-width: 2px;
}

section nav ul li {
	background-color: green;
	margin: 2%;
	display: inline-block;
	height: 20px;
}

article header {
	/*margin-left: 10%;*/
	width: 100%;
	float: left;
	color: white;
	text-align: center;
}

article {
	width: 80%;
	margin: 2% auto 2% 10%;
	padding: 5px 0 5px 0;
	float: left;
	/*text-align: center;*/
	border-style: double ridge;
	border-color: white;
	border-width: 5px;
}


article ul li {
	margin: 1.5% 1.5% 2% 1.5%;
	float: left;
}

figure {
	margin: 0;
	padding: 0;
}

/*figcaption {
	display: none;
}*/


figure:hover {
	display: block;
}

aside {
    position: fixed;
    width: 12%;
    float: left;
    height: 155px;
    top: 288.5px;
	/*padding-left: 3%;
	padding-top: 3%;*/
	background-color: black;
	border-style: double ridge;
	border-color: white;
	border-width: 5px;
	margin-top: 0;
	text-align: center;
	text-decoration: none;
}

aside ul {
	height: 90%;
	width: 80%;
	text-decoration: none;
}

aside ul li a {
	color: black;
	text-decoration: none;
	text-align: center;
}

aside ul li {
	float:	left;
	text-decoration: none;
	background-color: white;
	margin: 10% auto 7% 5%;
	padding: 10px;
	border-radius: 20px;
/*	padding: 10px;*/
	color: black;
	font-weight: bold;
}