html {
	background-color: green;
}

#text {
	float: left;
	width: 75%;
	margin: 15px;
	margin-left: 100px;
	border-style: ridge;
	border-width: 10px;
	border-color: silver;
	background-color: gray;
	text-align: center;
}

#image {
	float: left;
	width: 75%;
	margin: 15px;
	margin-left: 100px;
	border-style: ridge;
	border-width: 10px;
	border-color: silver;
}